body{
    font-family: "Montserrat", sans-serif;
    background-color: rgb(255, 232, 131);
}

div#my-todo-list{
    background-color: lightgrey;
}

div#my-todo-list ul li{
    border-bottom: 1px solid grey;
}