<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 

    <!-- Font-Awesome cdn v6 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    
    <!-- Link Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Link a Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <!-- link al file CSS custom -->
    <link rel="stylesheet" href="css/style.css">

    <title>Vue Todolist</title>
</head>
<body>
    

    <main id="app">
        <div class="container-fluid p-5">
            <div class="text-center">
                <h1 class="fw-bold text-uppercase">To do list</h1>
            </div>
            <div class="row p-5">
                <div class="col-3 mb-5 d-flex justify-content-center align-items-center">
                    <input v-model="newDone" class="form-check-input ms-1" type="radio" name="doneTodo" id="doneTodo1" value="1" checked>
                    <label class="form-check-label ms-1" for="doneTodo1">
                        Fatto
                    </label>
                    <input v-model="newDone" class="form-check-input ms-1" type="radio" name="doneTodo" id="doneTodo2" value="2">
                    <label class="form-check-label ms-1" for="doneTodo2">
                        Da fare
                    </label>
                    <!-- <input type="color" class="ms-2 form-control form-control-color" id="ColorInput" value="#563d7c" v-model="myColor"> -->
                </div>
                <div class="col-7 mb-5">
                    <input v-model="newText" type="text" class="form-control rounded-3" @keydown.enter="addItem()">
                </div>
                <div class="col-2 text-center">
                    <button @click="addItem()" class="btn btn-primary">Inserisci dati</button>
                </div>
                <div class="col-12 text-center mx-2 rounded-3" id="my-todo-list">
                    <ul class="list-unstyled">
                        <li v-for="(element, index) in todoListItems" class="fw-bold py-2 px-5 border-bottom d-flex justify-content-between">
                            <span :class="(element.done) ? `text-decoration-line-through`:``" @click="invertDone(index)">
                                {{element.text}} 
                            </span>
                            <i class="fa-solid fa-xmark" @click="removeItem(index, todoListItems)"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </main>

    <footer class="text-center">
        <h6>
            Made with <span class="text-danger fs-4">&hearts;</span> by <a href="#">Classe 55</a> for Boolean
        </h6>
    </footer>



    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>